<!DOCTYPE html>
<html>
  <head>
    <title><%= documentHash %></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/main.css' />
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/js/filedrop.js"></script>
    <script src="/js/crypto.js"></script>
    <script src="/js/index.js"></script>
  </head>
  <body>
    <h1></h1>
    <p>Sorry but <%= documentHash %> has not been generated using our hash.</p>
  </body>
</html>
